<template>
    <div class="flex items-center h-screen justify-center">
        <div class="w-min flex flex-col items-center">
            <div class="mb-2">
                <img class="h-20" src="~/assets/images/logo.svg" alt="logo-car-doctor">
            </div>
            <div class="mb-5 font-bold text-3xl">Đăng nhập</div>
            <input type="text" placeholder="Tên đăng nhập"
                class="focus:outline-[#BB343F] border border-gray-300 rounded-lg px-4 py-2 w-96">
            <input type="password" placeholder="Mật khẩu"
                class="focus:outline-[#BB343F] border border-gray-300 rounded-lg px-4 py-2 w-96 mt-4">
            <button class="w-full rounded-lg border px-4 py-1.5 bg-[#BB343F] hover:bg-[#a13039] text-white mt-4">
                Đăng nhập
            </button>
        </div>
    </div>
</template>

<script setup>
definePageMeta({
    layout: false,
});
</script>