<template>
    <div class="sticky top-0 h-20 bg-white flex justify-between items-center px-10">
        <div class="">
            <img class="h-14" src="~/assets/images/logo.svg" alt="logo-car-doctor">
        </div>
        <div class="">
            <button class="rounded-lg border px-4 py-1.5 bg-[#BB343F] text-white">
                Đăng xuất
            </button>
        </div>
    </div>
</template>