<template>
    <div class="py-14 px-10 min-h-[70vh]">
        <h1 class="font-bold mb-4 text-2xl">Báo cáo với Bộ Công Thương</h1>

        <table class="w-full border-collapse border border-slate-400">
            <tr>
                <th class="border border-slate-300">Hạng mục</th>
                <th class="border border-slate-300">Số liệu</th>
            </tr>
            <tr v-for="(value, key) in data">
                <td class="border border-slate-400 p-2">{{ $t(key) }}</td>
                <td class="border border-slate-400 p-2">{{ value }}</td>
            </tr>
        </table>
    </div>
</template>


<script setup>
import { useI18n } from "vue-i18n";
const { t } = useI18n();
const title = t('reportTitle')
useHead({
    title: title
})
const config = useRuntimeConfig()
const requestOptions = {
    baseURL: config.public.baseURL,
    method: 'POST',
    headers: {},
    body: JSON.stringify({}),
};

const data = ref(null)
const { data: count } = await useFetch('/api/v1/get-data-report', requestOptions)
data.value = count._value
</script>